<h1>Editing postulation</h1>

<%= render "form", postulation: @postulation %>

<br>

<div>
  <%= link_to "Show this postulation", @postulation %> |
  <%= link_to "Back to postulations", postulations_path %>
</div>
