<div id="<%= dom_id trabajo %>">
  <p>
    <strong>Name:</strong>
    <%= trabajo.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= trabajo.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= trabajo.user_id %>
  </p>

</div>
